.parent { 
    display: grid; 
    grid-template-columns: 1.6fr .4fr 2.3fr repeat(2, .4fr) .9fr 1fr; 
    grid-template-rows: repeat(2, .6fr) .5fr .3fr repeat(3, 2fr) .6fr .5fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 960px;
    height: 540px;
    background-color: beige;
}
#screen { 
    grid-area: 5 / 2 / 8 / 4; 
    border: 2px solid blue;
} 
#controls { 
    grid-area: 5 / 4 / 8 / 5; 
    border: 2px solid black;
    display: grid;
    grid-template-rows: .5fr 2fr .5fr;
} 
#vol {
    display: grid;
    grid-template-areas: repeat(2, 1fr);
}
#navigators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#up {
    grid-area: 1 / 2 / 2 / 3;
}
#right {
    grid-area: 2 / 3 / 3 / 4;
}
#down {
    grid-area: 3 / 2 / 4 / 3;
}
#left {
    grid-area: 2 / 1 / 3 / 2;
}
#select {
    grid-area: 2 / 2 / 3 / 3;
}
#brightness {
    display: grid;
    grid-template-areas: repeat(2, 1fr);
}
#phone { 
    grid-area: 5 / 6 / 8 / 7; 
    border: 2px solid pink;
} 
#tray-table { 
    grid-area: 9 / 2 / 10 / 5;
    border: 2px solid gray;
} 
#magazine { 
    grid-area: 2 / 3 / 5 / 4; 
    border: 2px solid purple;
} 
#safety-card { 
    grid-area: 3 / 3 / 5 / 4; 
    border: 2px solid green;
} 
#entertainment-meter { 
    grid-area: 1 / 4 / 2 / 6; 
    border: 2px solid red;
} 
#sanity-meter { 
    grid-area: 1 / 6 / 2 / 7; 
    border: 2px solid orange;
} 
#eta { 
    grid-area: 1 / 7 / 2 / 8; 
    border: 2px solid violet;
} 
#announcements { 
    grid-area: 2 / 7 / 5 / 8; 
    border: 2px solid olivedrab;
} 
#attendant { 
    grid-area: 6 / 7 / 7 / 8; 
    border: 2px solid brown;
} 
#passenger { 
    grid-area: 1 / 1 / 5 / 2; 
    border: 2px solid yellow;
} 