body {
    background: rgb(173,144,129);
    background: linear-gradient(99deg, rgba(173,144,129,1) 15%, rgba(230,183,141,1) 41%, rgba(203,176,164,1) 62%, rgba(251,241,216,1) 68%, rgba(210,180,153,1) 76%);
}
#game { 
    display: grid; 
    grid-template-columns: 1fr .1fr 4.5fr 1fr;
    grid-template-rows: .5fr .5fr 6fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 960px;
    height: 540px;
    background-color: rgb(221, 221, 203);
    background-image: url('https://cdn.pixabay.com/photo/2014/11/06/10/54/passengers-519008_960_720.jpg');
    margin: 0 auto;
    margin-bottom: 150px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
#seat-1 {
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-columns: .2fr .1fr .1fr .2fr .2fr 3fr .2fr .1fr .1fr .3fr .2fr .1fr .1fr .2fr;
    grid-template-rows: .2fr .2fr .2fr .6fr .2fr 3fr .2fr .2fr;
}
/* Source: how to use image as border: https://www.w3schools.com/css/tryit.asp?filename=trycss3_border-image */
#seat-main {
    grid-area: 3 / 2 / 9 / 14;
    background-image: url('https://images.unsplash.com/photo-1611242319342-ed0d65b1a0f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 25px 0 0;
    border-image: url('https://cdn.pixabay.com/photo/2017/09/09/15/11/leather-2732272_960_720.jpg') 30 round;
    border: 4px dashed rgb(48, 52, 82);
    box-shadow: 5px 0 4px 2px #234c7c, 0 0 20px 0 #2f3f53bf inset;
}
#seat-outer {
    grid-area: 5 / 1 / 9 / 15;
    background-image: url('https://images.unsplash.com/photo-1528459105426-b9548367069b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=664&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px 25px 0 0;
    background-color: #461111;
    border: 4px dashed #6c1a1a;
    box-shadow: 5px 0 4px 2px #461111;
    border-bottom: none;
}

#console {
    grid-area: 6 / 3 / 7 / 13;
    background-image: url('/img/brown_ice_by_darkwood67.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.6) inset;
}
#pocket {
    grid-area: 4 / 4 / 5 / 12;
    border-radius: 50px;
    border: 5px solid rgb(78, 72, 72);
    background-color: rgb(161, 149, 149);
    box-shadow: 0 -5px 10px 5px rgba(0,0,0,.6) inset;
}
#screen { 
    grid-area: 6 / 3 / 7 / 7; 
    margin: 10px 10px 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.6) inset, 0 0 2px 2px rgba(0,0,0,1);
} 

/* Source for creating gradients: https://cssgradient.io/ */
.screenc {
    background: rgb(64,57,124);
    background: radial-gradient(circle, rgba(64,57,124,1) 0%, rgba(42,42,224,1) 92%, rgba(133,128,128,1) 100%);
    z-index: 1;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.tictactoe {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    margin: 0 auto;
    background: #f4f2f2;
    background: radial-gradient(circle, rgba(64,57,124,0.4) 5%, rgba(244,242,242,1) 42%, rgba(244,242,242,1) 90%, rgba(42,42,224,1) 97%, rgba(133,128,128,1) 99%);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.6) inset;
    overflow: hidden;
    justify-content: unset;
    align-items: unset;
}
.box {
    display: none;
    border: 1px solid #e6a176;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
.tttselection {
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: 100;
    border: 4px solid #b35114;
}
#tttresult {
    
}
#controls { 
    grid-area: 6 / 7 / 7 / 8; 
    display: grid;
    grid-template-rows: 1fr .4fr 1fr .4fr 1fr;
    font-weight: bold;
} 
#vol {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
#vol-up, #vol-down {
    background-color: rgba(102, 102, 244, 0.695);
    border-radius: 5px;
}
#navigators {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#up, #right, #down, #left, #select {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 10px;
    background-color: rgba(239, 238, 168, 0.734);
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right {
    grid-area: 2 / 3 / 3 / 4;
}
#down {
    grid-area: 3 / 2 / 4 / 3;
}
#left {
    grid-area: 2 / 1 / 3 / 2;
}
#select {
    grid-area: 2 / 2 / 3 / 3;
    background-color: silver;
}
#brightness {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
#bright-up, #bright-down {
    background-color:rgb(223, 228, 248);
    border-radius: 5px;
}
#phone { 
    grid-area: 6 / 9 / 7 / 12; 
    margin: 5px 0 5px 0;
    background-image: url('/img/brown_ice_by_darkwood67.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.6) inset, 0 0 2px 2px rgba(0,0,0,.7);
} 
#tray-table { 
    grid-area: 8 / 2 / 9 / 14;
    display: flex;
    justify-content: center;
    background-image: url('/img/brown_ice_by_darkwood67.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5) inset, 0 -1px 4px .5px rgba(0,0,0,.9);
} 
#magazine { 
    grid-area: 2 / 5 / 5 / 11; 
    background-image: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-color: purple;
    border-top-right-radius: 20px;
    border-top-left-radius: 2px;
    border-right: 4px double rgb(114, 104, 104);
    border-bottom: 5px solid rgb(78, 72, 72);
    box-shadow: 0 -10px 15px 0 rgba(0,0,0,.4) inset, 0px -5px 15px 0px rgba(0,0,0,.6);
    display: flex;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
    margin: 0 3px 0 3px;
} 
#mag {
    padding-left: 15px;
    /* line-height: 1.5 */
}
#mag::first-letter {
    initial-letter: 4;
    font-size: 60px;
    float: left;
}
#safety-card { 

} 
.closed {
    grid-area: 4 / 6 / 5 / 10; 
    background-image: url('https://images.unsplash.com/photo-1577792222727-149229ebbd7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
    text-align: right;
    border-bottom:5px solid rgb(78, 72, 72);
    box-shadow: 0 -10px 15px 0 rgba(0,0,0,.4) inset, 0px -10px 20px 0px rgba(0,0,0,.6);
    color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 20px;
    text-shadow: 1px 1px black, -1px -1px rgb(194, 18, 18);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr 1fr;
    font-family: 'Kanit', sans-serif;
    height: 45px;
}
#planenumber {
    grid-area: 1 / 3 / 2 / 4;
    font-weight: 400;
    font-size: 20px;
    height: 25px;
}
#safety {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: 100;
    height: 20px;
    font-size: 16px;
}
#instructions {
    grid-area: 2 / 3 / 3 / 4;
    font-weight: 100;
    height: 20px;
    font-size: 16px;
    text-shadow: 1px 1px green, -1px -1px black;
}


#stats {
    grid-area: 1 / 3 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(128, 128, 128, 0.666);
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
    /* color: white;
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def; */
    color: rgba(30, 109, 35, 0.705);
    /* color: transparent; */
    text-shadow: 1px 1px 1px rgb(169, 158, 158), -1px -1px 1px rgb(185, 172, 172);
    /* text-shadow: 0px 0px 1px rgba(91, 255, 76, 0.8); */
    /* color:rgb(142, 130, 130); */
    /* text-shadow: -1px -1px 1px rgba(234, 212, 212, 0.381), 1px 1px 1px rgba(0, 0, 0, 0.702); */
    /* background-clip: text; */
}
#entertainment-meter { 
    grid-area: 1 / 1 / 2 / 2; 
    border-radius: 10px;
    background-color: #560f8596;
} 
#sanity-meter { 
    grid-area: 1 / 2 / 2 / 3; 
    border-radius: 10px;
    background-color: #b71a1f93;
} 
#eta { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: #df316e8e;
    border-radius: 10px;
} 
#entertainment-meter, #sanity-meter, #eta {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ent-span {
    color: #560f8596;
    position: relative;
}
#san-span {
    color: #b71a1f93;
}
#dep-span {
    color: #df316e8e;
}


#aisle {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('/img/seatback_final.png');
    background-position: left;
    background-size: cover;
    margin-left: 20px;
    margin-top: 20px;
    filter: blur(1px);
}
#announcements { 
    grid-area: 2 / 7 / 5 / 8; 
} 
#attendant { 
    grid-area: 6 / 7 / 7 / 8; 
} 

#seat-2 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url('/img/seatback_final.png');
    background-position: right;
    background-size: cover;
    filter: blur(1px);
    margin-top: 20px;
}
#passenger { 
    grid-area: 1 / 1 / 5 / 2;
} 

#gap {
    grid-area: 3 / 1 / 4 / 3;
}

#background-seats {
    grid-area: 2 / 1 / 3 / 5;
}

.safety-answer {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    border: 3px dashed red;
    margin: 3px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.safetycard-img, .safetyans-imgs {
    width: 50px;
    height: 50px;
    justify-self: center;
    z-index: 1;
}

.dragdiv, .safetyanswerimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellphonec {
    background-color: white;
    border-radius: 6px;
    border: 15px solid black;
    grid-area: 4 / 6 / 9 / 7;
    display: grid;
    z-index: 1;
    grid-template: .5fr repeat(4, .4fr) .75fr repeat(3, .5fr) / .5fr .75fr 2fr .75fr;
    font-size: 15px;
}

.hide {
    display: none;
}
.noclick {
    pointer-events: none;
}

.panelOne {
    background: rgb(133,128,128);
    background: linear-gradient(90deg, rgba(133,128,128,1) 0%, rgba(83,83,87,1) 88%, rgba(51,51,51,1) 100%);
}
.panelTwo {
    background: rgb(83,83,87);
    background: linear-gradient(90deg, rgba(83,83,87,1) 0%, rgba(133,128,128,1) 21%, rgba(133,128,128,1) 79%, rgba(83,83,87,1) 100%);
}

.panelThree {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(83,83,87,1) 12%, rgba(133,128,128,1) 100%);
}

/* source for triangle-button: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_triangle-down */
#tray-open {
    /* width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #555;
    border-bottom: none; */
    background-color: transparent;
    height: 25px;
    background-image: url('/img/brown_ice_by_darkwood67.jpg');
    background-size: cover;
    background-position: top;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.6) inset;
}
#traybutton {
    height: 5%;
    width: 10%;
}
ul {
    list-style: none;
    justify-items: left;
    font-size: 25px;
    font-weight: 300;
    color: #fdfded;
    text-shadow: -1px -1px 2px black;
    font-family: 'IBM Plex Mono', monospace;
}

@keyframes skew-x-shake {
    0% { transform: skewX(-5deg); }
    5% { transform: skewX(5deg); }
    10% { transform: skewX(-5deg); }
    12% { transform: skewX(5deg); }
    15% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.screenmovie {
    background: rgb(64,57,124);
    background: radial-gradient(circle, rgba(64,57,124,1) 0%, rgba(42,42,224,1) 92%, rgba(133,128,128,1) 100%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    color: yellow;
    text-shadow: -1px -1px 2px black;
    font-family: 'IBM Plex Mono', monospace;
}