#game { 
    display: grid; 
    grid-template-columns: 1fr .4fr 4.5fr 1fr;
    grid-template-rows: .8fr .2fr 6fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 960px;
    height: 540px;
    background-color: beige;
}
#seat-1 {
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-columns: .2fr .1fr .4fr .2fr .2fr 2fr .5fr .1fr .1fr .3fr .2fr .2fr;
    grid-template-rows: .2fr .2fr .2fr .6fr .2fr 3fr .2fr .2fr;
}
#seat-main {
    grid-area: 3 / 2 / 8 / 12;
    border: 2px solid darkblue;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/19/10/29/background-1838494_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 25px 0 0;
}
#seat-outer {
    grid-area: 5 / 1 / 9 / 13;
    border: 2px solid greenyellow;
    background-image: url('https://cdn.pixabay.com/photo/2017/01/23/07/23/pink-leather-2001739_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 25px 25px 0 0;
}
#console {
    grid-area: 6 / 3 / 7 / 12;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/05/20/58/plastic-3294211_960_720.jpg');
    background-repeat: repeat;
    background-position: left;
    border-radius: 15px;
}
#pocket {
    grid-area: 4 / 4 / 5 / 11;
    border: 2px solid pink;
}
#screen { 
    grid-area: 6 / 3 / 7 / 7; 
    margin: 4px 3px 4px 4px;
    border: 2px solid blue;
    background-color: blue;
    z-index: 1;
} 
#controls { 
    grid-area: 6 / 7 / 7 / 9; 
    border: 2px solid black;
    display: grid;
    grid-template-rows: .5fr 2fr .5fr;
} 
#vol {
    display: grid;
    grid-template-areas: repeat(2, 1fr);
}
#navigators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#up {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 10px;
}
#right {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 10px;
}
#down {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 10px;
}
#left {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 10px;
}
#select {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 10px;
}
#brightness {
    display: grid;
    grid-template-areas: repeat(2, 1fr);
}
#phone { 
    grid-area: 6 / 10 / 7 / 12; 
    border: 2px solid pink;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/05/20/58/plastic-3294211_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
} 
#tray-table { 
    grid-area: 8 / 2 / 9 / 12;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2014/04/05/11/09/material-314790_960_720.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 25px 0 0;
} 
#magazine { 
    grid-area: 2 / 5 / 5 / 10; 
    border: 2px solid purple;
    background-color: purple;
} 
#safety-card { 
    grid-area: 4 / 6 / 5 / 8; 
    border: 2px solid green;
    background: red;
    text-align: right;
} 

#stats {
    grid-area: 1 / 3 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#entertainment-meter { 
    grid-area: 1 / 1 / 2 / 2; 
    border: 2px solid red;
} 
#sanity-meter { 
    grid-area: 1 / 2 / 2 / 3; 
    border: 2px solid orange;
} 
#eta { 
    grid-area: 1 / 3 / 2 / 4; 
    border: 2px solid violet;
} 

#aisle {
    grid-area: 3 / 4 / 4 / 5;
    border: 3px dotted purple;
}
#announcements { 
    grid-area: 2 / 7 / 5 / 8; 
    border: 2px solid olivedrab;
} 
#attendant { 
    grid-area: 6 / 7 / 7 / 8; 
    border: 2px solid brown;
} 

#seat-2 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px dotted purple;
}
#passenger { 
    grid-area: 1 / 1 / 5 / 2; 
    border: 2px solid yellow;
} 

#gap {
    grid-area: 1 / 2 / 4 / 3;
    border: 3px dotted blue;
}

#background-seats {
    grid-area: 2 / 1 / 3 / 5;
    border: 3px dotted blue;
}
